/*

Title: Stylesheet Template

Author: Maurice van Cooten

*/

body {
	background: #eee;
	font-size: 16px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	margin:0;
}

a {
	color:crimson;
	text-decoration: none;
}

a:hover {
	color:pink;
}

/* Layout
------------------------------------------*/

header,
.container,
footer {
	margin: 0 auto;
	width:88%;
	max-width: 960px;		
}


.wrapper {
	padding:1em 0;
	background: #fff;
}

/* Absolute Positioning
------------------------------------------*/

.specials {
	width:92%;
	border:1px solid #ccc;
	border-radius:8px;
	position:relative;
	min-height:72px;
	padding:1em;
	font-style:italic;
}

.specials img {
	position: absolute; 
	top: -1px; 
	right: -1px; 
	border: 0;
}