/*

Title: Stylesheet Template

Author: Maurice van Cooten

*/

body {
	background: #eee;
	font-size: 16px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	margin:0;
}

a {
	color: crimson;
	text-decoration:none;
}

a:hover {
	color: red;
}

/* Layout
------------------------------------------*/

header,
.container,
footer {
	margin: 0 auto;
	width: 88%;
	max-width: 960px;	
}

.wrapper {
	padding: 1em 0;
	background: #fff;
}

/* Buttons
------------------------------------------*/

button, 
input[type="button"], 
input[type="reset"], 
input[type="submit"] {
	width: auto;
	font-size: .8em;
	font-weight: normal;
	text-align: center;
	text-decoration: none;
	text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
	cursor: pointer;
	border: solid 1px #ccc;
	border-radius: 0.5em;
	padding: .5em 1em;
	display: inline-block;
	color: #555;
	background-color: #fff;
    background-image: -webkit-linear-gradient(#fff, #cfd8e2);
    background-image: -moz-linear-gradient(#fff, #cfd8e2);
    background-image: -o-linear-gradient(#fff, #cfd8e2);
    background-image: linear-gradient(#fff, #cfd8e2);
}

button:hover,
input[type="button"]:hover, 
input[type="reset"]:hover, 
input[type="submit"]:hover {
    background-color: #eee;
    background-image: -webkit-linear-gradient(#eee, #AEB8C1);
    background-image: -moz-linear-gradient(#eee, #AEB8C1);
    background-image: -o-linear-gradient(#eee, #AEB8C1);
    background-image: linear-gradient(#eee, #AEB8C1);
}