/*

Title: Stylesheet Template

Author: Maurice van Cooten

*/

body {
	background: #eee;
	font-size: 16px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	margin:0;
}

a {
	color: crimson;
	text-deocration: none;
}

a:hover {
	color: red;
}

/* Layout
------------------------------------------*/

header,
.container,
footer {
	margin: 0 auto;
	width: 88%;
	max-width: 960px;
}

.wrapper {
	width: 100%;
	padding: 1em 0;
	background: #fff;
}

/* Gallery
------------------------------------------*/

.gallery {
	padding:0;
}

.gallery li {
	margin-right: 1em;
	list-style:none;
	float:left;
}

.gallery img {
	border: 6px solid #eee;
}

.gallery img:hover {
	border: 6px solid pink;
}

.gallery li div.item {
	position:relative;
	text-align:center;
}

.gallery li div.item span {
	text-align:center;
	position:absolute;
	background:rgba(250,250,250,0.8);
	padding:.7em 0 1.2em 0;
	bottom:0;
	left:0;
	width:100%;
}

/* misc.
------------------------------------------*/

.clearfix:after {
	content:".";
	display:block;
	height: 0;
	clear:both;
	visibility:hidden;
}