body {
	background: #eeeeee;
	font-size: 16px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	margin:0;
}

a {
	color: crimson;
	text-deocration: none;
}

a:hover {
	color: red;
}

/* Layout
------------------------------------------*/

header,
.container,
footer {
	margin: 0 auto;
	width: 88%;
	max-width: 960px;
}

.wrapper {
	width: 100%;
	padding: 1em 0;
	background: #ffffff;
}

/* Gallery
------------------------------------------*/

.gallery {
	padding:0;
	list-style:none;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.gallery li {
	margin-right: 1em;
}

.gallery img {
	border: 6px solid #eee;
}

.gallery img:hover {
	border: 6px solid pink;
}

.gallery li .item {
	position:relative;
}

.gallery li .item span {
	position:absolute;
	bottom:0;
	left:0;
	text-align:center;
	width:100%;
	background:rgba(250,250,250,0.8);
	padding:.7em 0 1.2em 0;
}
