/*

Title: Stylesheet Template

Author: Maurice van Cooten

*/

body {
	background: #eee;
	font-size: 16px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	margin:0;
}

a {
	color:crimson;
	text-decoration:none;
}

a:hover {
	color:red;
}

/* Layout
------------------------------------------*/

header,
.container,
footer {
	margin: 0 auto;
	width:88%;
	max-width: 960px;
}

.wrapper {
	padding:1em 0;
	background: #fff;
}

.grid li {
	width:190px;
	margin:0 1em 1em 0;
	list-style:none;
	float:left;
}

/* Border Radius
------------------------------------------*/

.box-1 {
	background:crimson;
	height:190px;
	width:190px;
	border-radius:0;
}

.box-2 {
	background:crimson;
	height:190px;
	width:190px;
	border-radius:35px;
}

.box-3 {
	background:crimson;
	height:190px;
	width:190px;
	border-radius:95px;
}

.box-4 {
	background:crimson;
	height:190px;
	width:190px;
	border-radius:60px;
}

.box-5 {
	background:crimson;
	height:190px;
	width:190px;
	border-radius:0 60px;
}

.box-6 {
	background:crimson;
	height:190px;
	width:190px;
	border-radius:60px 0;	
}

.box-7 {
	background:crimson;
	height:190px;
	width:190px;
	border-radius:0 0 60px;	
}

.box-8 {
	background:crimson;
	height:190px;
	width:190px;
	border-radius:0 60px 0;
}

.box-9 {
	background:crimson;
	height:190px;
	width:190px;
	border-radius:60px 0 0;
}

.box-10 {
	background:crimson;
	height:190px;
	width:190px;
	border-radius:60px 0 0 0;
}

.box-11 {
	background:crimson;
	height:190px;
	width:190px;
	border-radius:0 60px 0 0;
}

.box-12 {
	background:crimson;
	height:190px;
	width:190px;
	border-radius:0 0 60px 0;
}

.box-13 {
	background:crimson;
	height:190px;
	width:190px;
	border-radius:0 0 0 60px;
}

/* Misc.
------------------------------------------*/

.clearfix:after {
	content:".";
	display:block;
	height: 0;
	clear:both;
	visibility:hidden;
}
