/*

Title: Stylesheet Template

Author: Maurice van Cooten

*/

body {
	background: #eeeeee;
	font-size: 16px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	margin:0;
}

a {
	color:crimson;
	text-decoration:none;
}

a:hover {
	color:red;
}

/* Layout
------------------------------------------*/

header,
.container,
footer {
	margin: 0 auto;
	width:88%;
	max-width: 960px;
}

.wrapper {
	padding:1em 0;
	background: #ffffff;
}

.grid {
	padding:0;
	list-style:none;
	display:flex;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap:wrap;
	-ms-flex-wrap:wrap;
	flex-wrap:wrap;
}

.grid li {
	margin:0 1em 1em 0;
	width:190px;
	text-align:center;
}

/* Border Radius
------------------------------------------*/

.box-1 {
	background:crimson;
	width:190px;
	height:190px;
	border-radius:0;
}

.box-2 {
	background:crimson;
	width:190px;
	height:190px;
	border-radius:35px;
}

.box-3 {
	background:crimson;
	width:190px;
	height:190px;
	border-radius:50%;
}

.box-4 {
	background:crimson;
	width:190px;
	height:190px;
	border-radius:60px;
}

.box-5 {
	background:crimson;
	width:190px;
	height:190px;
	border-radius:0 60px;
}

.box-6 {
	background:crimson;
	width:190px;
	height:190px;
	border-radius:60px 0;	
}

.box-7 {
	background:crimson;
	width:190px;
	height:190px;
	border-radius:0 0 60px;	
}

.box-8 {
	background:crimson;
	width:190px;
	height:190px;
	border-radius:0 60px 0;
}

.box-9 {
	background:crimson;
	width:190px;
	height:190px;
	border-radius:60px 0 0;
}

.box-10 {
	background:crimson;
	width:190px;
	height:190px;
	border-radius:60px 0 0 0;
}

.box-11 {
	background:crimson;
	width:190px;
	height:190px;
	border-radius:0 60px 0 0;
}

.box-12 {
	background:crimson;
	width:190px;
	height:190px;
	border-radius:0 0 60px 0;
}

.box-13 {
	background:crimson;
	width:190px;
	height:190px;
	border-radius:0 0 0 60px;
}