body {
	background: #eeeeee;
	font-size: 16px;
	margin:0;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

a {
	color:crimson;
	text-decoration: none;
}

a:hover {
	color:red;
}

/* Layout
------------------------------------------*/

header,
.container,
footer {
	margin: 0 auto;
	width: 88%;
	max-width: 960px;		
}

.wrapper {
	padding: 1em 0;
	background: #ffffff;
}

/* Gallery
------------------------------------------*/

.gallery {
	padding:0;
	list-style:none;
	display: flex;
}

.gallery li {
	margin-right: 1em;
}

.gallery img {
	border: 6px solid #eeeeee;
}

.gallery img:hover {
	border: 6px solid pink;
}