body {
  background: #eeeeee;
  font-size: 16px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  margin: 0;
}

a {
  color: crimson;
  text-decoration: none;
}

a:hover {
  color: red;
}


/* Layout
------------------------------------------*/

header,
.container,
footer {
  margin: 0 auto;
  width: 88%;
  max-width: 1080px;
}

.wrapper {
  padding: 1em 0;
  background: #ffffff;
}


/* Horizontal bar graph
------------------------------------------*/

.mortalities {
  list-style: none;
  padding: 0;
  max-width: 400px;
}

.mortalities li {
  height: 20px;
  position: relative;
  margin-bottom: .2em;
}

.mortalities li span {
  position: absolute;
  bottom: 0;
  left: 0;
  background: aqua;
  display: block;
  margin-left: 12em;
}


/* Vertical bar graph
------------------------------------------*/

.decline {
  list-style: none;
  padding: 0;
  display: flex;
  margin-bottom: 3em;
}

.decline li {
  position: relative;
  width: 100px;
  margin-right: .2em;
  height: 8em;
  text-align: center;
}

.decline li em {
  position: absolute;
  left: 0;
  bottom: -2.5em;
  width: 100%;
}

.decline li span {
  position: absolute;
  bottom: -1em;
  left: 0;
  width: 100%;
  background: aqua;
  height: 100%;
}
