/*

Title: Stylesheet Template

Author: Maurice van Cooten

*/

body {
	background: #eee;
	font-size: 16px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	margin:0;
}

a {
	color:crimson;
}

a:hover {
	color: red;
}

/* Layout
------------------------------------------*/

#wrapper {
	width: 100%;
	padding: 1em 0;
	background: #fff;
}

header,
#container,
footer {
	margin: 0 auto;
	width: 88%;
	max-width: 960px;
		
}

/* social media.
------------------------------------------*/

.social-channels {
	list-style: none;
	padding: 0;
}

.social-channels li {
	display: inline-block;
	margin-right: .5em;
	border-radius: 3px;
}

.social-channels li a {
	display:block;
}

.facebook a {
	width:33px;
	height:33px;
	background: url(images/sprite.png);
	background-position:0 66px;
}

.facebook:hover a {
	background-position:0 33px;
}

.github a {
	width:33px;
	height:33px;
	background: url(images/sprite.png);
	background-position:66px 66px;
}

.github:hover a {
	background-position:66px 33px;
}

.flickr a {
	width:33px;
	height:33px;
	background: url(images/sprite.png);
	background-position:33px 66px;
}

.flickr:hover a {
	background-position:33px 33px;
}

.googleplus a {
	width:33px;
	height:33px;
	background: url(images/sprite.png);
	background-position:99px 66px;
}

.googleplus:hover a {
	background-position:99px 33px;
}

.linkedin a {
	width:33px;
	height:33px;
	background: url(images/sprite.png);
	background-position:132px 66px;
}

.linkedin:hover a {
	background-position:132px 33px;
}

.pinterest a {
	width:33px;
	height:33px;
	background: url(images/sprite.png);
	background-position:165px 66px;
}

.pinterest:hover a {
	background-position:165px 33px;
}

.twitter a {
	width:33px;
	height:33px;
	background: url(images/sprite.png);
	background-position:198px 66px;
}

.twitter:hover a {
	background-position:198px 33px;
}

.youtube a {
	width:33px;
	height:33px;
	background: url(images/sprite.png);
	background-position:231px 66px;
}

.youtube:hover a {
	background-position:231px 33px;
}