body {
  background: #eeeeee;
  font-size: 16px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  margin: 0;
}

a {
  color: crimson;
  text-decoration: none;
}

a:hover {
  color: red;
}


/* Layout
------------------------------------------*/

header,
.container,
footer {
  margin: 0 auto;
  width: 88%;
  max-width: 1080px;
}

.wrapper {
  padding: 1em 0;
  background: #ffffff;
}


/* Gallery
------------------------------------------*/

.gallery {
  list-style: none;
  padding: 0;
  display: flex;
}

.gallery li {
  margin-right: .5em;
}

.gallery li div {
  position:relative;
  overflow: hidden;
  width: 300px;
  height: 300px;

}

.gallery img {
  
  transition: 1s;
  /*transform-origin: 0 0;*/
}

.gallery li:hover img {
  transform: scale(1.1);
}

.gallery a,
.gallery img {
  display: block;
}
