body {
  background: #eee;
  font-size: 16px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  margin:0;
}

a {
  color:crimson;
  text-decoration:none;
}

a:hover {
  color:red;
}

/* Layout
------------------------------------------*/

header,
.container,
footer {
  margin: 0 auto;
  width:88%;
  max-width: 1080px;
}

.wrapper {
  padding:1em 0;
  background: #fff;
}

/* Animation spin
------------------------------------------*/

@keyframes spin {
   from {
   	transform: rotate(0deg);
  }
  to {
  	transform: rotate(360deg);
  }
}

.rotate:hover {
	animation: spin 5s infinite;
}

/* Animation enlarge
------------------------------------------*/

@keyframes enlarge {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}

.scale:hover {
  animation: enlarge 2s infinite alternate;
}

/* Animation rainbow
------------------------------------------*/

@keyframes rainbow {
  0% {
    background: lime;
  }
  25% {
    background: yellow;
  }
  75% {
    background: orange;
  }
  100% {
    background: red;
  }
}

.cameleon {
  border-radius:50%;
  animation: rainbow 5s infinite;
}

/* Animation position
------------------------------------------*/

@keyframes position {
  0% {
    left:0;
  }
  25% {
    left:200px;
  }
  75% {
    left:400px;
  }
  100% {
    left:800px;
  }
}

.move {
  position:fixed;
  bottom:0;
  animation: position 5s infinite alternate;
}
