body {
	background: #eeeeee;
	font-size: 16px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	margin:0;
}

a {
	color:crimson;
	text-decoration:none;
}

a:hover {
	color:red;
}

/* Layout
------------------------------------------*/

header,
.container,
footer {
	margin: 0 auto;
	width:88%;
	max-width: 1080px;
}

.wrapper {
	padding:1em 0;
	background: #ffffff;
}	

/* Transforms
------------------------------------------*/

.rotate {
	transition: all 1s ease-in-out;
}

.rotate:hover {
	transform: rotate(-10deg);
}

.skew {
	transition: all 1s ease-in-out;
}

.skew:hover {
	transform: skew(-10deg);
}

.scale {
	transition: all 1s ease-in-out;
}

.scale:hover {
	transform: scale(.8);
}
