/*

Title: Stylesheet Template

Author: Maurice van Cooten

*/

a {
	color: blue;
}

a:hover {
	color: lightblue;
}

body {
	background: #eee;
	font-size: 16px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	margin:0;
}

/* Page structure
------------------------------------------*/

#wrapper {
	width: 100%;
	padding: 1em 0;
	background: #fff;
}

#container {
	margin: 0 auto;
	padding: 0 auto;
	width: 100%;
	max-width: 960px;
		
}

/* Typography
------------------------------------------*/

h1{
	color: navy;

}

p {
	color:#333;
}

/* Gallery
------------------------------------------*/

.gallery {
	padding:0;
	display:block;
}

.gallery li {
	padding:0;
	margin:0 1em 0 0;
	list-style:none;
	float:left;

}

.gallery li a img {
	border: 6px solid #eee;
	display:block;
	
}

.gallery img:hover {
	border: 6px solid green;
}

.gallery li div.item {
	position:relative;
	text-align:center;
}

.gallery li div.item span {
	position:relative;
	text-align:center;
	position:absolute;
	background:rgba(250,250,250,0.8);
	padding:1em 0;
	bottom:0;
	left:0;
	width:100%;
}

/* misc.
------------------------------------------*/

.clearfix:after {
	content:".";
	display:block;
	height: 0;
	clear:both;
	visibility:hidden;

}