/*

Title: Stylesheet Template

Author: Maurice van Cooten

*/

body {
    background: #eeeeee;
    font-size: 16px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    margin:0;
}

a {
    color:crimson;
    text-decoration:none;
}

a:hover {
    color:red;
}

/* Layout
------------------------------------------*/

header,
.container,
footer {
    margin: 0 auto;
    width:88%;
    max-width: 960px;
}

.wrapper {
    padding:1em 0;
    background: #ffffff;    
}

/* Filters
------------------------------------------*/

.grayscale {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: all 1s ease-in-out;
}

.grayscale:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
    filter:none;
}

.blur {
    -webkit-filter: blur(3px);
    filter: blur(3px);
    transition: all 1s ease-in-out;
}

.blur:hover {
    -webkit-filter: blur(0px);
    filter: blur(0px);
}

.sepia {
    -webkit-filter: sepia(100%);
    filter: sepia(100%);
    transition: all 1s ease-in-out;
}

.sepia:hover {
    -webkit-filter: sepia(0);
    filter: sepia(0);
}