/*

Title: Stylesheet Template

Author: Maurice van Cooten

*/

body {
	background: #eee;
	font-size: 16px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	margin:0;
}

a {
	color: crimson;
	text-decoration:none;
}

a:hover {
	color: red;
}

/* Layout
------------------------------------------*/

.sticky {
	margin: 0 auto;
	padding: .5em auto;
	width:100%;
	position:fixed;
	background:#eee;
	background: rgba(238,238,238,0.7);
	top:0;
}

header,
.container,
footer {
	margin: 0 auto;
	width:88%;
	max-width: 960px;
}

.wrapper {
	background: #fff;
	padding:1em 0;
}

section {
	padding-top:4em;
}


/* Navigation
------------------------------------------*/

nav ul {
	padding:0;
}

nav ul li {
	float: left;
	margin-right: .5em;
	list-style:none;
}

nav ul li a {
	padding: .5em 1em;
	background:#ccc;
	border-radius: 15px;
	transition: all 1s ease-in-out;
}

nav ul li a:hover {
	background: pink;
}

/* Misc.
------------------------------------------*/

.clearfix:after {
	content:".";
	display:block;
	height: 0;
	clear:both;
	visibility:hidden;
}
