/*

Title: Stylesheet Template

Author: Maurice van Cooten

*/

body {
	background: #eee;
	font-size: 16px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	margin:0;
}

a {
	color: crimson;
	text-decoration: none;
}

a:hover {
	color: red;
}

/* Layout
------------------------------------------*/

header,
.container,
footer {
	margin: 0 auto;
	width: 88%;
	max-width: 960px;		
}

.wrapper {
	padding: 1em 0;
	background: #fff;
}

/* Navigation
------------------------------------------*/

nav ul {
	padding:0;
	margin:0 auto;
	max-width:960px;
	display:flex;
}

nav ul li {
	list-style:none;
	background:#eee;
	border-top:1px solid white;
	padding-left:2em;
}

nav ul li ul li {
	background:#eee;
	padding-left:2em;
}

nav ul li ul li a {
	padding:1em 0;
}

nav ul li:hover {
	background:pink;
}

nav ul li a {
	width:100%;
	padding:1em 0;
	display:block;
}

/* Media Queries
------------------------------------------*/

@media screen and (min-width: 800px) {

	nav {
	 	border-top:1px solid #fff;
	}

	nav ul li {
	  	float:left;
	  	width:19.8%;
	  	border-right:1px solid #fff;
	  	border-top:none;
	  	text-align:center;
	  	padding:0;
	}

	nav ul li:nth-child(1) {
	  	border-left:1px solid #fff;
	}

	nav ul li ul {
		padding:0;
	  position: absolute;
	  width: 19.8%;
	  max-width:190px;
	  left: -999em;
	  display:flex;
	  flex-direction:column;
	}

	nav ul li ul li {
		width: 100%;
		padding:0;
	}

	nav ul li ul li, nav ul li ul li:nth-child(1) {
		border-right:0;
		border-left:0;
	}
	  
	nav ul li:hover ul {
	    left: auto;
	}

}